@import "tailwindcss";

/* Importando fonte similar à oficial do Mercado Livre */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@theme {
  /* Cores Oficiais do Mercado Livre */
  --color-ml-yellow: #FFE600;
  --color-ml-blue: #3483FA;
  --color-ml-blue-dark: #2968C8;
  
  /* Tons de Cinza do ML */
  --color-ml-gray-bg: #EBEBEB;
  --color-ml-gray-text: #333333;
  --color-ml-gray-muted: #666666;
  --color-ml-gray-border: #DDDDDD;
}

@layer utilities {
  /* Scrollbar discreta estilo ML */
  .custom-scrollbar::-webkit-scrollbar { width: 6px; }
  .custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
  .custom-scrollbar::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.1); border-radius: 10px; }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover { background: rgba(0,0,0,0.2); }
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-ml-gray-bg);
  color: var(--color-ml-gray-text);
  overflow: hidden; /* Mantém a rolagem apenas nas caixas de conteúdo */
  -webkit-font-smoothing: antialiased;
}